
.create-room-screen {
    width: 513px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

.create-room-bg {
    width:  100%;
    min-height: 330px; 
    height: auto;
    border: double 2px transparent;
    border-radius: 25px;
    background-image:  linear-gradient(180deg, rgba(2, 20, 28, 1) 0%, rgba(24, 100, 105, 0.1) 100%), radial-gradient(circle at top, rgba(255, 255, 255, 0.1),rgba(24, 100, 105, 1));
    opacity: 20%;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: block;
    margin-top: 8px;
   
}

.title-screen {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 24px;
}

.create-room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.create-room-buttons {
    display: flex;
    margin-top: 16px;
}

.create-room-screen {
    width: 513px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

.create-room-bg {
    width:  100%;
    min-height: 330px; 
    height: auto;
    border: double 2px transparent;
    border-radius: 25px;
    background-image:  linear-gradient(180deg, rgba(2, 20, 28, 1) 0%, rgba(24, 100, 105, 0.1) 100%), radial-gradient(circle at top, rgba(255, 255, 255, 0.1),rgba(24, 100, 105, 1));
    opacity: 20%;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: block;
    margin-top: 8px;
   
}

.title-screen {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 24px;
}

.create-room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.create-room-buttons {
    display: flex;
    margin-top: 16px;
}