.header-page {
    width: 100%;
    height: 21.6rem;
    background: linear-gradient(90deg, #186469 0.64%, #157F86 50.11%, #03A9B3 86.54%);
    display: flex;
    align-items: center;
    justify-content: left;
    color: #FFF;
}

#play-logo-icon {
    color: #1E1E1E;
    width: 300px;
    height: 300px;
    margin-left: 100px;
    position: absolute;
}

.add-room-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
}

.title-page {
    display: flex;
    text-align: center;
    font-size: 16px;
}



@media only screen and (min-width: 600px) and (max-width: 1006px) {

    .header-page {
        height: 10rem;
    }
   
    #play-logo-icon {
        width: 89px;
        height: 89px;
        margin-left: 20px;
    }

}

@media only screen and (max-width: 599px) {

    .header-page {
        height: 10rem;
    }
   
    #play-logo-icon {
        width: 89px;
        height: 89px;
        margin-left: 16px;
    }

    .add-room-field {
        align-items: right;
        position: absolute;
        right: 24px;
    }

    .title-page {
        font-size: 12px;
    }

}